<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title><%= htmlWebpackPlugin.options.isProd ? '' : 'dev - ' %>后台管理系统</title>
		<% if (htmlWebpackPlugin.options.isProd){ %>
		<!-- nprogress 的样式表文件 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/nprogress/0.2.0/nprogress.min.css" />
		<!-- 富文本编辑器 的样式表文件 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/quill/1.3.4/quill.core.min.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/quill/1.3.4/quill.snow.min.css" />
		<link rel="stylesheet" href="https://cdn.staticfile.org/quill/1.3.4/quill.bubble.min.css" />
		<!-- element-ui 的样式表文件 -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.8.2/theme-chalk/index.css" />
		<script src="https://cdn.staticfile.org/vue/2.5.22/vue.min.js"></script>
		<!-- nprogress 的js文件 -->
		<script src="https://cdn.staticfile.org/nprogress/0.2.0/nprogress.min.js"></script>
		<!-- 富文本编辑器的 js 文件 -->
		<script src="https://cdn.staticfile.org/quill/1.3.4/quill.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.4/dist/vue-quill-editor.js"></script>
		<!-- element-ui 的 js 文件 -->
		<script src="https://cdn.staticfile.org/element-ui/2.8.2/index.js"></script>
		<%}%>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
