@import './normalize.css';
*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #app {
    height: 100%;
}
body {
    user-select: none;
    width: 100vm;
}
a{
    color: #aaa;
    text-decoration: none;
}