html, body, #app {
    height: 100%;
    min-width: 1200px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
}
table {
    user-select: text;
}
.el-tab-pane {
    height: 416px;
    overflow: auto;
}
/*富文本编辑器高度*/
.ql-editor {
    height: 280px !important;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 10px;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} /* 滑块颜色 */
::-webkit-scrollbar-button {
    display: none;
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
    background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.el-step__title {
    font-size: 13px !important;
}