<template>
  <el-container>
    <el-header>
      <div class="logo" @click="toHome">后台管理系统</div>
      <div class="logout"><el-button type="info" size="small" @click="logoutBtn">退出</el-button></div>
    </el-header>
    <el-container>
      <el-aside width="200px">
<!--        侧边栏菜单-->
        <el-menu
          background-color="#545c64"
          text-color="#f8f8f8"
          :default-active="activeItem"
          router
          unique-opened>
          <el-submenu :index="item.id+''"
                      v-for="(item, index) in list" :key="item.id">
            <template slot="title">
              <i :class="iconFont[index]"></i>
              <span style="margin-right: 70px">{{item.authName}}</span>
            </template>
            <el-menu-item-group>
              <el-menu-item
                :index="'/backstage/'+sub.path"
                v-for="sub in item.children"
                :key="sub.id"
                @click="keepActive('/backstage/'+sub.path)">
                <i class="el-icon-menu"></i>
                {{sub.authName}}
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-main><router-view /></el-main>
    </el-container>

    <el-dialog
      title="提示"
      :visible.sync="dialogVisible"
      width="30%">
      <span>确定退出登录？</span>
      <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="danger" @click="logout">确 定</el-button>
  </span>
    </el-dialog>
  </el-container>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      list: [],
      // 图标
      iconFont: ['el-icon-s-custom', 'el-icon-s-help', 'el-icon-s-goods', 'el-icon-s-order', 'el-icon-s-data'],
      dialogVisible: false,
      activeItem: ''
    }
  },
  created () {
    this.getListData()
    this.activeItem = window.sessionStorage.getItem('activeItem')
  },
  methods: {
    async getListData () {
      const { data: res } = await this.$http.get('menus')
      console.log(res.data)
      this.list = res.data
    },
    logout () {
      this.dialogVisible = false
      window.sessionStorage.removeItem('token')
      window.sessionStorage.removeItem('activeItem')
      this.$router.push('/login')
    },
    logoutBtn () {
      this.dialogVisible = true
    },
    keepActive (id) {
      this.activeItem = id + ''
      window.sessionStorage.setItem('activeItem', this.activeItem)
    },
    toHome () {
      this.$router.push('/home')
      window.sessionStorage.removeItem('activeItem')
      this.activeItem = ''
      location.reload()
    }
  }
}
</script>

<style scoped>
  .el-container {
    height: 100%;
  }
  .el-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8f8f8;
    font-size: 20px;
    background-color: #2c3e50;
  }
  .logo {
    cursor: pointer;
  }
  .el-aside {
    background: #545c64;
    height: 100%;
  }
  .el-main {
    background: #f8f8f8;
    height: 100%;
  }
  .el-menu {
    /*去掉默认边框*/
    border: none
  }
  .el-submenu{

  }
</style>
