<template>
    <div>
      <!--    面包屑导航-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/goods' }">商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>添加商品</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <el-alert
          title="添加商品信息"
          type="info"
          center
          show-icon
          :closable="false">
        </el-alert>
        <el-steps :space="200" :active="activeIndex-0" finish-status="success" align-center>
          <el-step title="基本信息"></el-step>
          <el-step title="商品参数"></el-step>
          <el-step title="商品属性"></el-step>
          <el-step title="商品图片"></el-step>
          <el-step title="商品内容"></el-step>
          <el-step title="完成"></el-step>
        </el-steps>
        <el-form :model="addForm" :rules="rules" ref="addGoodsForm" label-width="100px" label-position="top" class="demo-ruleForm">
          <el-tabs :before-leave="beforeLeave" @tab-click="tabClick" :tab-position="'left'" v-model="activeIndex">
            <el-tab-pane label="基本信息" name="0">
              <div class="tab-content">
                <el-form-item label="商品名称" prop="goods_name">
                  <el-input
                    class="dialog-input"
                    v-model="addForm.goods_name"
                    autocomplete="off"
                    placeholder="请输入商品名"></el-input>
                </el-form-item>
                <el-form-item label="商品价格(元)" prop="goods_price">
                  <el-input
                    type="number"
                    class="dialog-input"
                    v-model="addForm.goods_price"
                    autocomplete="off"
                    placeholder="请输入价格"></el-input>
                </el-form-item>
                <el-form-item label="商品重量(g)" prop="goods_weight">
                  <el-input
                    type="number"
                    class="dialog-input"
                    v-model="addForm.goods_weight"
                    autocomplete="off"
                    placeholder="请输入商品重量"></el-input>
                </el-form-item>
                <el-form-item label="商品数量" prop="goods_number">
                  <el-input
                    type="number"
                    class="dialog-input"
                    v-model="addForm.goods_number"
                    autocomplete="off"
                    placeholder="请输入商品数量"></el-input>
                </el-form-item>
                <el-form-item label="商品分类" prop="goods_cat">
                  <el-cascader
                    :options="allCateData"
                    placeholder="试试搜索：电视"
                    v-model="addForm.goods_cat"
                    :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
                    filterable clearable>
                  </el-cascader>
                </el-form-item>
                <div class="btn-box">
                  <el-button class="submitBtn" type="primary" @click="nextClick">下一步</el-button>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品参数" name="1">
              <div class="tab-content">
                <el-form-item :label="item.attr_name" v-for="item in manyData" :key="item.attr_id">
                  <el-checkbox-group v-model="item.attr_vals">
                    <el-checkbox
                      v-for="(sub, index) in item.attr_vals" :key="index"
                      :label="sub" border></el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
                <div class="btn-box">
                  <el-button class="submitBtn" @click="lastClick">上一步</el-button>
                  <el-button class="submitBtn" type="primary" @click="nextClick">下一步</el-button>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品属性" name="2">
              <div class="tab-content">
                <el-form-item :label="item.attr_name" v-for="(item, index) in onlyData" :key="index">
                  <el-input v-model="item.attr_vals"></el-input>
                </el-form-item>
                <div class="btn-box">
                  <el-button class="submitBtn" @click="lastClick">上一步</el-button>
                  <el-button class="submitBtn" type="primary" @click="nextClick">下一步</el-button>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品图片" name="3">
              <div class="tab-content">
                <el-upload
                  class="upload-demo"
                  :action="uploadUrl"
                  :headers="headers"
                  :on-success="uploadSuccess"
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  list-type="picture">
                  <el-button size="small" type="primary">点击上传</el-button>
                  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
                <div class="btn-box">
                  <el-button class="submitBtn" @click="lastClick">上一步</el-button>
                  <el-button class="submitBtn" type="primary" @click="nextClick">下一步</el-button>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="商品内容" name="4" >
<!--              富文本编辑器-->
              <div class="tab-content">
                <quill-editor
                  v-model="addForm.goods_introduce"
                />
                <div class="btn-box">
                  <el-button class="submitBtn" @click="lastClick">上一步</el-button>
                  <el-button class="submitBtn" type="primary" @click="submit('addGoodsForm')">确认提交</el-button>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </el-form>
      </el-card>
<!--      图片预览弹窗-->
      <el-dialog
        title="图片预览"
        :visible.sync="dialogPreviewVisible"
        width="45%">
        <img :src="previewUrl" alt="" width="100%" />
      </el-dialog>
    </div>
</template>

<script>
// 导入深拷贝 包
import _ from 'lodash'
export default {
  name: 'add',
  created () {
    this.getAllCateData()
  },
  data () {
    return {
      activeIndex: '0',
      addForm: { goods_cat: [], pics: [], goods_introduce: '', attrs: [] },
      rules: {
        goods_name: [
          { required: true, message: '请输入商品名称', trigger: 'blur' }
        ],
        goods_price: [
          { required: true, message: '请输入商品价格', trigger: 'blur' }
        ],
        goods_weight: [
          { required: true, message: '请输入商品重量', trigger: 'blur' }
        ],
        goods_number: [
          { required: true, message: '请输入商品数量', trigger: 'blur' }
        ],
        goods_cat: [
          { required: true, message: '请选拔择商品分类', trigger: 'blur' }
        ]
      },
      allCateData: [],
      selectContent: [],
      manyData: [],
      onlyData: [],
      uploadUrl: 'http://127.0.0.1:8888/api/private/v1/upload',
      headers: { Authorization: window.sessionStorage.getItem('token') },
      previewUrl: '',
      dialogPreviewVisible: false
    }
  },
  methods: {
    // 获取所有分类数据
    async getAllCateData () {
      const { data: res } = await this.$http.get('categories')
      if (res.meta.status === 200) {
        this.allCateData = res.data
      }
    },
    // tab 跳转拦截
    beforeLeave (activeName, oldActiveName) {
      if (oldActiveName === '0' && this.addForm.goods_cat.length < 3) {
        this.$message.error('请选择商品分类')
        return false
      }
    },
    // tab 跳转
    async tabClick () {
      if (this.activeIndex === '1') {
        const { data: res } = await this.$http.get('categories/' + this.cateId + ' /attributes', { params: { sel: 'many' } })
        res.data.forEach(item => {
          if (item.attr_vals.length > 0) {
            item.attr_vals = item.attr_write === 'list' ? item.attr_vals.split(',') : item.attr_vals.split(' ')
          }
        })
        this.manyData = res.data
      } else if (this.activeIndex === '2') {
        const { data: res } = await this.$http.get('categories/' + this.cateId + ' /attributes', { params: { sel: 'only' } })
        this.onlyData = res.data
      }
    },
    // 上传成功
    uploadSuccess (response) {
      const picsInfo = {
        pic: response.data.tmp_path
      }
      this.addForm.pics.push(picsInfo)
      console.log(this.addForm)
    },
    // 移除图片
    handleRemove (file) {
      // 获取图片临时路径
      const picUrl = file.response.data.tmp_path
      // 根据路径查找索引 findIndex
      const i = this.addForm.pics.findIndex(item => {
        item.pic = picUrl
      })
      // 根据索引删除本项
      this.addForm.pics.splice(i, 1)
    },
    // 预览图片
    handlePreview (file) {
      this.previewUrl = file.response.data.url
      this.dialogPreviewVisible = true
    },
    // 提交
    submit (formName) {
      // 预验证
      this.$refs[formName].validate(async valid => {
        if (valid) {
          this.addForm.manyData = this.manyData
          this.addForm.onlyData = this.onlyData
          // this.addForm.goods_cat 是数组，要转化为字符串再提交给服务器
          // 由于 this.addForm.goods_cat 是双向绑定的数据，因此不能直接对其进行类型转换。需要先对 this.addForm 进行 深拷贝
          // lodsh  _.cloneDeep
          const form = _.cloneDeep(this.addForm)
          form.goods_cat = form.goods_cat.join(',')
          form.manyData.forEach(item => {
            const newObj = { attr_id: item.attr_id, attr_value: item.attr_vals }
            form.attrs.push(newObj)
          })
          form.onlyData.forEach(item => {
            const newObj = { attr_id: item.attr_id, attr_value: item.attr_vals }
            form.attrs.push(newObj)
          })
          form.attrs[0].attr_value = form.attrs[0].attr_value.join(',')
          // 最终得到传到服务器的数据模型
          console.log(form)
          // 发起添加商品请求
          const { data: res } = await this.$http.post('goods', form)
          if (res.meta.status === 201) {
            this.$message.success(res.meta.msg)
            this.$router.push('/goods')
          } else {
            this.$message.error(res.meta.msg)
          }
        } else {
          this.$message.error('请检查填写是否完全或正确')
        }
      })
    },
    // 上一步
    lastClick () {
      let activeIndex = this.activeIndex - 0
      activeIndex--
      this.activeIndex = activeIndex + ''
    },
    // 下一步
    nextClick () {
      if (this.activeIndex === '0' && this.addForm.goods_cat.length < 3) {
        this.$message.error('请选择商品分类')
      } else {
        let activeIndex = this.activeIndex - 0
        activeIndex++
        this.activeIndex = activeIndex + ''
        this.tabClick()
      }
    },
    // 字符串转数组
    stringToArr (obj) {
      if (obj.attr_vals.length > 0) {
        return obj.attr_write === 'list' ? obj.attr_vals.split(',') : obj.attr_vals.split(' ')
      } else {
        return false
      }
    }
  },
  // 计算属性
  computed: {
    // 获取三级分类 id
    cateId () {
      return this.addForm.goods_cat[2]
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .el-steps {
    margin: 20px 0;
  }
  .el-checkbox {
    margin: 0 10px 10px 0 !important;
  }
  .tab-content{
    position: relative;
    min-height: 360px;
    padding-bottom: 50px
  }
  .btn-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .submitBtn {
    margin: 10px 6px;
  }
</style>
