<template>
  <div>
    <!--    面包屑导航-->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>商品管理</el-breadcrumb-item>
      <el-breadcrumb-item>分类参数</el-breadcrumb-item>
    </el-breadcrumb>
    <el-card>
      <el-alert
        title="注意：只允许为第三级分类设置参数"
        type="warning"
        show-icon>
      </el-alert>
<!--      级联选择器-->
      <div class="select-box">
        <span>选择商品分类：</span>
        <el-cascader
          :options="allCateData"
          placeholder="试试搜索：电视"
          v-model="selectContent"
          :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
          @change="handleChange"
          filterable clearable>
        </el-cascader>
      </div>
<!--      选项卡-->
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="动态参数" name="first" :disabled="disabled">
          <el-button type="primary" size="small" :disabled="disabled" @click="addMany('many')">添加参数</el-button>
          <el-table
            :data="tableData"
            style="width: 100%"
            border stripe>
            <el-table-column type="expand">
              <template slot-scope="props">
                <div class="expand-box">
<!--                  tag循环渲染-->
                  <div class="tag-box">
                    <el-tag v-for="(item, index) in stringToArr(props.row)"
                            :key="index"
                            closable @close="deleteTagParams(props.row, index)">{{item}}
                    </el-tag>
<!--                    新增按钮输入框切换-->
                    <el-input
                    class="input-new-tag"
                    v-if="props.row.inputVisible"
                    v-model="props.row.inputValue"
                    size="small"
                    ref="saveTagInput"
                    @keyup.enter.native="handleInputConfirm(props.row)"
                    @blur="handleInputConfirm(props.row)">
                  </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput(props.row)">新 增</el-button>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column type="index"></el-table-column>
            <el-table-column prop="attr_name" label="参数名称"></el-table-column>
            <el-table-column prop="roleDesc" label="操作">
              <template slot-scope="scope">
                <el-button type="primary" size="small" icon="el-icon-edit" @click="editClick(scope.row)">编辑</el-button>
                <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteParams(scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
<!--        静态属性-->
        <el-tab-pane label="静态属性" name="second" :disabled="disabled">
          <el-button type="primary" size="small" @click="addMany('only')" :disabled="disabled">添加参数</el-button>
          <el-table
            :data="tableOnlyData"
            style="width: 100%"
            border stripe>
            <el-table-column type="expand">
              <template slot-scope="props">
                <div class="expand-box">
<!--                  tag循环渲染-->
                  <div class="tag-box">
                    <el-tag v-for="(item, index) in stringToArr(props.row)"
                            :key="index"
                            closable @close="deleteTagParams(props.row, index)">{{item}}
                    </el-tag>
<!--                    新增按钮输入框切换-->
                    <el-input
                      class="input-new-tag"
                      v-if="props.row.inputVisible"
                      v-model="props.row.inputValue"
                      size="small"
                      ref="saveTagInput"
                      @keyup.enter.native="handleInputConfirm(props.row)"
                      @blur="handleInputConfirm(props.row)">
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput(props.row)">新 增</el-button>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column type="index"></el-table-column>
            <el-table-column prop="attr_name" label="参数名称"></el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button type="primary" size="small" icon="el-icon-edit" @click="editClick(scope.row)">编辑</el-button>
                <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteParams(scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-card>
    <!--      添加分类弹窗-->
    <el-dialog :title="'添加'+addPostData.title" :visible.sync="dialogAddVisible" @close="clearAddInput">
      <div>
        <el-form :model="addForm" :rules="rules" ref="addParamsRef">
          <div class="input-box">
            <el-form-item :label="addPostData.title+'名：'" prop="attr_name">
              <el-input
                class="dialog-input"
                v-model="addForm.attr_name"
                autocomplete="off"
                :placeholder="'请输入'+addPostData.title+'名'" @change="changeInput"></el-input>
            </el-form-item>
          </div>
          <el-form-item class="btn">
            <el-button @click="dialogAddVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitAddClick('addParamsRef')">提 交</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
<!--    编辑弹窗-->
    <el-dialog :title="'编辑'+addPostData.title" :visible.sync="dialogEditVisible" @close="clearEditInput">
      <div>
        <el-form :model="editForm" :rules="rules" ref="editParamsRef">
          <div class="input-box">
            <el-form-item :label="addPostData.title+'名：'" prop="attr_name">
              <el-input
                class="dialog-input"
                v-model="editForm.attr_name"
                autocomplete="off"
                :placeholder="'请输入'+addPostData.title+'名'" @change="changeEditInput"></el-input>
            </el-form-item>
          </div>
          <el-form-item class="btn">
            <el-button @click="dialogEditVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitEditClick('editParamsRef')">提 交</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'GoodsParams',
  created () {
    this.getAllCateData()
  },
  data () {
    return {
      disabled: true,
      activeName: 'first',
      allCateData: [],
      selectContent: [],
      tableData: [],
      tableOnlyData: [],
      // 添加
      addPostData: {},
      addForm: { attr_name: '' },
      rules: {
        attr_name: [
          { required: true, message: '请输入参数名', trigger: 'blur' }
        ]
      },
      dialogAddVisible: false,
      // 编辑
      editPutData: {},
      editForm: { attr_name: '' },
      dialogEditVisible: false
    }
  },
  methods: {
    async getAllCateData () {
      const { data: res } = await this.$http.get('categories')
      if (res.meta.status === 200) {
        this.allCateData = res.data
      }
    },
    // 获得静态参数
    async getOnlyParams (id) {
      const { data: res } = await this.$http.get('categories/' + id + '/attributes',
        { params: { sel: 'only' } })
      if (res.meta.status === 200) {
        res.data.forEach(item => {
          item.inputVisible = false
          item.inputValue = ''
        })
        this.tableOnlyData = res.data
      }
    },
    // 获得动态参数
    async getManyParams (id) {
      const { data: res } = await this.$http.get('categories/' + id + '/attributes',
        { params: { sel: 'many' } })
      if (res.meta.status === 200) {
        res.data.forEach(item => {
          item.inputVisible = false
          item.inputValue = ''
        })
        this.tableData = res.data
      }
    },
    // 级联选项卡改变
    handleChange (value) {
      if (value.length === 3) {
        this.disabled = false
        this.getOnlyParams(value[2])
        this.getManyParams(value[2])
        // 分类id
        this.addPostData.id = value[2]
      } else {
        this.selectContent = []
        this.$message.error('只能选择第三级分类')
        this.disabled = true
        this.tableData = []
        this.tableOnlyData = []
      }
    },
    handleClick (tab) {
    },
    // 失去焦点或摁下enter键
    handleInputConfirm (attrData) {
      const inputValue = attrData.inputValue.trim()
      if (inputValue) {
        if (attrData.attr_vals.length === 0) {
          attrData.attr_vals = attrData.inputValue
        } else if (attrData.attr_write === 'list') {
          attrData.attr_vals = attrData.attr_vals + ',' + attrData.inputValue
        } else {
          attrData.attr_vals = attrData.attr_vals + ' ' + attrData.inputValue
        }
        this.editPutData = {
          id: this.addPostData.id,
          attr_id: attrData.attr_id,
          attr_name: attrData.attr_name,
          attr_sel: attrData.attr_sel,
          attr_vals: attrData.attr_vals
        }
        this.editSubmit()
      }
      attrData.inputVisible = false
      attrData.inputValue = ''
    },
    // 点击新增按钮input显示
    showInput (attrData) {
      attrData.inputVisible = true
      // $nextTick 页面发生渲染，且结束后执行回调函数
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    // 添加动态参数/静态参数按钮
    addMany (sel) {
      this.dialogAddVisible = true
      this.addPostData.attr_sel = sel
      sel === 'many' ? this.addPostData.title = '动态参数' : this.addPostData.title = '静态属性'
    },
    // input 改变
    changeInput () {
      this.addPostData.attr_name = this.addForm.attr_name
    },
    // 提交
    async submitAddClick () {
      const { data: res } = await this.$http.post('categories/' + this.addPostData.id + '/attributes',
        this.addPostData)
      if (res.meta.status === 201) {
        this.$message.success(res.meta.msg)
        this.dialogAddVisible = false
        this.addPostData.attr_sel === 'many' ? this.getManyParams(this.addPostData.id)
          : this.getOnlyParams(this.addPostData.id)
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 重置
    clearAddInput () {
      this.$refs.addParamsRef.resetFields()
    },
    // 列表项删除
    deleteParams (paramsInfo) {
      this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('categories/ ' +
          this.addPostData.id + ' /attributes/' + paramsInfo.attr_id)
        if (res.meta.status === 200) {
          paramsInfo.attr_sel === 'many' ? this.getManyParams(this.addPostData.id)
            : this.getOnlyParams(this.addPostData.id)
          this.$message.success(res.meta.msg)
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    // deleteTagParams 通过tag删除参数
    deleteTagParams (info, index) {
      if (info.attr_write === 'list') {
        const arr = info.attr_vals.split(',')
        arr.splice(index, 1)
        info.attr_vals = arr.join(',')
      } else {
        const arr = info.attr_vals.split(' ')
        arr.splice(index, 1)
        info.attr_vals = arr.join(' ')
      }
      this.editPutData = {
        id: this.addPostData.id,
        attr_id: info.attr_id,
        attr_name: info.attr_name,
        attr_sel: info.attr_sel,
        attr_vals: info.attr_vals
      }
      this.editSubmit()
    },
    // 编辑提交
    async editSubmit () {
      const { data: res } = await this.$http.put('categories/' +
        this.editPutData.id + '/attributes/' + this.editPutData.attr_id, this.editPutData)
      if (res.meta.status === 200) {
        this.$message.success(res.meta.msg)
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 编辑
    editClick (info) {
      this.dialogEditVisible = true
      info.attr_sel === 'many' ? this.addPostData.title = '动态参数' : this.addPostData.title = '静态属性'
      this.editForm.attr_name = info.attr_name
      this.editPutData = {
        id: this.addPostData.id,
        attr_id: info.attr_id,
        attr_sel: info.attr_sel,
        attr_vals: info.attr_vals
      }
    },
    changeEditInput () {
      this.editPutData.attr_name = this.editForm.attr_name
    },
    // 编辑提交
    submitEditClick () {
      this.editSubmit()
      this.getManyParams(this.addPostData.id)
      this.getOnlyParams(this.addPostData.id)
      this.dialogEditVisible = false
    },
    clearEditInput () {
      this.$refs.editParamsRef.resetFields()
    },
    //
    stringToArr (obj) {
      if (obj.attr_vals.length > 0) {
        return obj.attr_write === 'list' ? obj.attr_vals.split(',') : obj.attr_vals.split(' ')
      } else {
        return false
      }
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .select-box, .el-tabs, .el-table{
    margin-top: 20px;
  }
  .select-box span {
    font-size: 16px;
    color: #999;
  }
  .el-tag {
    margin: 8px 10px 8px 0;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: center;
  }
  .expand-box {
    display: flex;
    align-items: center;
    margin: 0 50px;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
  }
  .dialog-input {
    width: 60%;
  }
  .input-box {
    margin: 20px 20px;
  }
</style>
