<template>
    <div>
      <!--    面包屑导航-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <!--      顶部搜索-->
        <el-row :gutter="10">
          <el-col :span="6">
            <el-input
              @keydown.enter.native="getGoodsData"
              @clear="getGoodsData"
              placeholder="请输入商品名"
              size="small"
              clearable v-model="pageData.query">
              <el-button slot="append" icon="el-icon-search" @click="getGoodsData"></el-button>
            </el-input>
          </el-col>
          <el-col :span="4"><el-button type="primary" size="small" @click="$router.push('/goods/add')">添加商品</el-button></el-col>
        </el-row>
        <el-table
          :data="tableData"
          style="width: 100%"
          border stripe>
            <el-table-column type="index"></el-table-column>
            <el-table-column prop="goods_name" label="商品名称" width="420px"></el-table-column>
            <el-table-column prop="goods_price" label="商品价格(元)"></el-table-column>
            <el-table-column prop="goods_weight" label="商品重量"></el-table-column>
            <el-table-column label="创建时间" width="134px">
<!--              调用时间戳过滤器-->
              <template slot-scope="scope">{{scope.row.add_time | dateFormat}}</template>
            </el-table-column>
            <el-table-column label="操作" width="150px">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" size="small"></el-button>
                <el-button type="danger" icon="el-icon-delete" size="small" @click="deleteGoods(scope.row)"></el-button>
              </template>
            </el-table-column>
        </el-table>
<!--        分页-->
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 20,]"
          :page-size="5"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total">
        </el-pagination>
      </el-card>
    </div>
</template>

<script>
export default {
  name: 'GoodList',
  created () {
    this.getGoodsData()
  },
  data () {
    return {
      tableData: [],
      total: 0,
      pageData: { query: '', pagenum: 1, pagesize: 5 }
    }
  },
  methods: {
    async getGoodsData () {
      const { data: res } = await this.$http.get('goods', { params: this.pageData })
      if (res.meta.status === 200) {
        // res.data.goods.forEach(item => {
        //   item.add_time = item.add_time / (1000 * 60 * 60 * 24)
        // })
        console.log(res.data.goods)
        this.tableData = res.data.goods
        this.total = res.data.total
      }
    },
    // 每页个数
    handleSizeChange (val) {
      this.pageData.pagesize = val
      this.getGoodsData()
    },
    // 当前页数
    handleCurrentChange (val) {
      this.pageData.pagenum = val
      this.getGoodsData()
    },
    // 删除商品
    deleteGoods (info) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('goods/' + info.goods_id)
        if (res.meta.status === 200) {
          // 判断是否删除本页唯一一个数据，debug，请求的上一页的数据
          if (this.total % this.pageData.pagesize === 1) {
            this.pageData.pagenum--
          }
          this.getGoodsData()
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .el-table {
    margin: 20px 0;
    font-size: 12px;
  }
</style>
