<template>
    <div>
      <!--    面包屑导航-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>商品分类</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <el-button type="primary" @click="addCate">添加分类</el-button>
<!--        树形表格-->
        <tree-table class="tree-table"
                    :data="tableData"
                    :columns="columns"
                    show-index
                    border
                    :selection-type="false"
                    :expand-type="false"
                    :show-row-hover="false">
<!--          插槽 第二列 是否有效-->
          <template slot="isOk" scope="scope">
            <i v-if="scope.row.cat_deleted===false" class="el-icon-success" style="color: lightgreen"></i>
            <i v-else class="el-icon-error" style="color: red"></i>
          </template>
<!--          插槽 第三列 排序-->
          <template slot="order" scope="scope">
            <el-tag v-if="scope.row.cat_level===0">一级</el-tag>
            <el-tag type="success" v-else-if="scope.row.cat_level===1">二级</el-tag>
            <el-tag type="warning" v-else>三级</el-tag>
          </template>
<!--          插槽 第四列 操作-->
          <template slot="operation" scope="scope">
            <el-button type="primary" size="small" icon="el-icon-edit" @click="editCate(scope.row)">编辑</el-button>
            <el-button type="danger" size="small" icon="el-icon-delete" @click="deleteCate(scope.row)">删除</el-button>
          </template>
        </tree-table>
        <!--      分页-->
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[3, 5, 10,]"
          :page-size="3"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total">
        </el-pagination>
      </el-card>
<!--      编辑弹窗-->
      <el-dialog title="编辑" :visible.sync="dialogEditVisible" @close="clearEditInput">
        <div>
          <el-form :model="editForm" :rules="rules" ref="editCateRef">
            <el-form-item label="分类名：" label-width="200px" prop="cat_name">
              <el-input
                v-model="editForm.cat_name" style="width: 60%"
                autocomplete="off" placeholder="请输入分类名"></el-input>
            </el-form-item>
            <el-form-item class="btn">
              <el-button @click="dialogEditVisible = false">取 消</el-button>
              <el-button type="primary" @click="submitEditClick('editCateRef')">提 交</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-dialog>
<!--      添加分类弹窗-->
      <el-dialog title="添加分类" :visible.sync="dialogAddVisible" @close="clearAddInput">
        <div>
          <el-form :model="addForm" :rules="rules" ref="addCateRef">
            <div class="input-box">
              <el-form-item label="分类名：" label-width="200px" prop="cat_name">
                <el-input
                  v-model="addForm.cat_name"
                  autocomplete="off" placeholder="请输入分类名"></el-input>
              </el-form-item>
              <el-cascader
                :options="allCateData"
                placeholder="试试搜索：电视"
                v-model="selectContent"
                :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"
                @change="handleChange"
                filterable clearable>
              </el-cascader>
            </div>

            <el-form-item class="btn">
              <el-button @click="dialogAddVisible = false">取 消</el-button>
              <el-button type="primary" @click="submitAddClick('addCateRef')">提 交</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-dialog>
    </div>
</template>

<script>
export default {
  name: 'GoodsCate',
  created () {
    this.getTableData()
  },
  data () {
    return {
      tableData: [],
      pageData: { pagenum: 1, pagesize: 3 },
      total: 0,
      columns: [
        {
          label: '分类名',
          prop: 'cat_name'
        },
        {
          label: '是否有效',
          type: 'template',
          template: 'isOk'
        },
        {
          label: '排序',
          type: 'template',
          template: 'order'
        },
        {
          label: '操作',
          type: 'template',
          template: 'operation'
        }
      ],
      // 编辑分类数据
      dialogEditVisible: false,
      editForm: { id: 0, cat_name: '' },
      rules: {
        cat_name: [
          { required: true, message: '请输入分类名', trigger: 'blur' }
        ]
      },
      // 添加分类数据
      selectContent: [],
      dialogAddVisible: false,
      addForm: { cat_name: '' },
      allCateData: [],
      addPostData: { cat_level: 2 }
    }
  },
  methods: {
    async getTableData () {
      const { data: res } = await this.$http.get('categories', { params: this.pageData })
      if (res.meta.status === 200) {
        this.tableData = res.data.result
        this.total = res.data.total
      }
    },
    // 每页个数
    handleSizeChange (val) {
      this.pageData.pagesize = val
      this.getTableData()
    },
    // 当前页数
    handleCurrentChange (val) {
      this.pageData.pagenum = val
      this.getTableData()
    },
    // 编辑
    editCate (cateData) {
      console.log(cateData)
      this.editForm = {
        id: cateData.cat_id,
        cat_name: cateData.cat_name
      }
      this.dialogEditVisible = true
    },
    // 编辑提交
    submitEditClick (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          const { data: res } = await this.$http.put('categories/' + this.editForm.id,
            { cat_name: this.editForm.cat_name })
          if (res.meta.status === 200) {
            this.$message.success(res.meta.msg)
            this.getTableData()
            this.dialogEditVisible = false
          } else {
            this.$message.error(res.meta.msg)
          }
        }
      })
    },
    // 编辑表单验证重置
    clearEditInput () {
      this.$refs.editCateRef.resetFields()
    },
    // 删除
    deleteCate (cateInfo) {
      this.$confirm('此操作将永久删除该权限, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('categories/' + cateInfo.cat_id)
        if (res.meta.status === 200) {
          this.getNewData(cateInfo.cat_id, this.tableData)
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 递归删除函数
    getNewData (catId, tableData) {
      tableData.forEach((item, index) => {
        if (item.cat_id === catId) {
          tableData.splice(index, 1)
        }
        if (item.children) {
          this.getNewData(catId, item.children)
        }
      })
    },
    // 添加分类
    addCate () {
      this.dialogAddVisible = true
      this.getAllCateData()
    },
    // 提交添加
    async submitAddClick () {
      if (this.selectContent.length === 0) {
        this.$message.error('请选择父级分类')
      } else {
        this.addPostData.cat_name = this.addForm.cat_name
        const { data: res } = await this.$http.post('categories', this.addPostData)
        if (res.meta.status === 201) {
          this.getTableData()
          this.$message.success(res.meta.msg)
          this.dialogAddVisible = false
        } else {
          this.$message.error(res.meta.msg)
        }
      }
    },
    // 级联选择器变化
    handleChange (value) {
      this.addPostData.cat_pid = value[1]
    },
    // 获得除三级以外所有分类
    async getAllCateData () {
      const { data: res } = await this.$http.get('categories', { params: { type: 2 } })
      if (res.meta.status === 200) {
        this.allCateData = res.data
      }
    },
    // 关闭添加分类弹窗重置
    clearAddInput () {
      this.$refs.addCateRef.resetFields()
      this.selectContent = []
    }
    // getOption () {
    //   this.allCateData.forEach(item => {
    //     item.children.forEach(sub => {
    //       delete sub.children
    //     })
    //   })
    // }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .tree-table {
    width: 100%;
    margin: 20px 0;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }
  .el-form {
    margin-top: 30px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .el-input {
  }
  .el-cascader {
    margin-left: 200px;
    margin-top: 20px;
  }
  .el-cascader::before {
    content: '请选择父级类：';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -110px;
  }
</style>
