<template>
  <div class="container">
    <div class="box">
      <h3>欢迎您</h3>
      <el-form ref="loginFormRef" :model="loginForm" :rules="rules" class="login-form">
        <el-form-item prop="username">
          <el-input v-model="loginForm.username"
                    prefix-icon="el-icon-user-solid"
                    placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input v-model="loginForm.password"
                    prefix-icon="el-icon-key"
                    type="password"
                    show-password
                    placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item class="btn">
          <el-button type="primary" @click="submitForm">登录</el-button>
          <el-button type="info" @click="resetForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
// import { loginData } from '../network/login'
export default {
  name: 'login',
  data () {
    return {
      loginForm: {
        username: 'admin',
        password: '123456'
      },
      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    submitForm () {
      this.$refs.loginFormRef.validate(async valide => {
        if (valide) {
          const { data: res } = await this.$http.post('login', this.loginForm)
          if (res.meta.status === 200) {
            window.sessionStorage.setItem('token', res.data.token)
            this.$message({
              message: res.meta.msg,
              type: 'success'
            })
            this.$router.push('/backstage/home')
          } else {
            // this.$refs.loginFormRef.resetFields()
            this.$message.error(res.meta.msg)
          }
        }
      })
    },
    resetForm () {
      this.$refs.loginFormRef.resetFields()
    }
  }
}
</script>

<style scoped>
.container {
  background-image: linear-gradient(to bottom right, #d9afd9, #97d9e1);
  height: 100%;
}
  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  }
  .box h3 {
    margin-top: 30px;
  }
  .login-form {
    width: 80%;
    margin: 40px auto;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
  }
</style>
