<template>
    <div>
      <!--    面包屑导航-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>订单管理</el-breadcrumb-item>
        <el-breadcrumb-item>订单列表</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <!--      顶部搜索-->
        <el-row :gutter="10">
          <el-col :span="6">
            <el-input
              @keydown.enter.native="getOrdersData"
              @clear="getOrdersData"
              placeholder="请输入搜索订单"
              clearable v-model="pageData.query">
              <el-button slot="append" icon="el-icon-search" @click="getOrdersData"></el-button>
            </el-input>
          </el-col>
        </el-row>
        <el-table
          :data="tableData"
          style="width: 100%"
          border stripe>
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="order_number" label="订单编号" width="320px"></el-table-column>
          <el-table-column prop="order_price" label="订单价格(元)"></el-table-column>
          <el-table-column prop="pay_status" label="是否付款">
            <template slot-scope="scope">
              <el-tag v-if="scope.row.pay_status==='0'" type="danger">未付款</el-tag>
              <el-tag v-if="scope.row.pay_status==='1'" type="danger">已付款</el-tag>
            </template>
          </el-table-column>
          <el-table-column prop="is_send" label="是否发货"></el-table-column>
          <el-table-column prop="create_time" label="下单时间" width="200px">
            <template slot-scope="scope">
              {{scope.row.create_time | dateFormat}}
            </template>
          </el-table-column>
          <el-table-column label="操作" width="160px">
            <template>
              <el-tooltip effect="dark" content="编辑地址" placement="top-start" :enterable="false">
                <el-button type="primary" icon="el-icon-edit" size="small" @click="editClick"></el-button>
              </el-tooltip>
              <el-tooltip effect="dark" content="查看物流" placement="top-start" :enterable="false">
                <el-button type="success" icon="el-icon-location" size="small" @click="logisticsClick"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
        <!--        分页-->
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[5, 10, 20,]"
          :page-size="5"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total">
        </el-pagination>
      </el-card>
<!--      编辑弹窗-->
      <el-dialog title="编辑地址" :visible.sync="dialogAddressVisible" @close="clearInput">
        <el-form :model="addressForm" :rules="rules" ref="addressCateRef" label-position="left" label-width="100px">
          <el-form-item label="省/市/县：" prop="address1">
            <el-cascader
              style="width: 100%"
              :options="citydata"
              v-model="addressForm.address1"
              :props="{ expandTrigger: 'hover' }"
              filterable clearable>
            </el-cascader>
          </el-form-item>
          <el-form-item label="详细地址：" prop="addressDetail">
            <el-input v-model="addressForm.addressDetail"></el-input>
          </el-form-item>
          <el-form-item class="btn">
            <el-button @click="dialogAddressVisible=false">取消</el-button>
            <el-button type="primary">确认</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
      <!--      查看物流-->
      <el-dialog title="物流信息" :visible.sync="dialogLogisticsVisible">
        <div class="timeline-box">
          <el-timeline>
            <el-timeline-item
              v-for="(activity, index) in logistics"
              :key="index"
              :icon="activity.icon"
              :type="activity.type"
              :color="activity.color"
              :size="activity.size"
              :timestamp="activity.time">
              {{activity.context}}
            </el-timeline-item>
          </el-timeline>
        </div>
      </el-dialog>
    </div>
</template>

<script>
// 导入 省/市/县 数据
import citydata from './citydata'
// 导入物流数据
import logistics from './logistics'
export default {
  name: 'Orders',
  created () {
    this.getOrdersData()
  },
  data () {
    return {
      tableData: [],
      total: 0,
      pageData: { query: '', pagenum: 1, pagesize: 5 },
      dialogAddressVisible: false,
      addressForm: { address1: [], addressDetail: '' },
      rules: {
        address1: [
          { required: true, message: '请选择省/市/县', trigger: 'blur' }
        ],
        addressDetail: [
          { required: true, message: '请输入详细地址', trigger: 'blur' }
        ]
      },
      citydata,
      dialogLogisticsVisible: false,
      logistics
    }
  },
  methods: {
    async getOrdersData () {
      const { data: res } = await this.$http.get('orders', { params: this.pageData })
      if (res.meta.status === 200) {
        this.tableData = res.data.goods
        this.total = res.data.total
      }
    },
    // 每页个数
    handleSizeChange (val) {
      this.pageData.pagesize = val
      this.getOrdersData()
    },
    // 当前页数
    handleCurrentChange (val) {
      this.pageData.pagenum = val
      this.getOrdersData()
    },
    // 编辑地址
    editClick () {
      this.dialogAddressVisible = true
    },
    // 重置地址框
    clearInput () {
      this.$refs.addressCateRef.resetFields()
    },
    // 查看物流信息
    logisticsClick () {
      this.dialogLogisticsVisible = true
    }
    // 获取物流进度
    // async getLogisticsProgress () {
    //   const { data: res } = await this.$http.get('/kuaidi/804909574412544580')
    // }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .el-table {
    margin: 20px 0;
    font-size: 12px;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }
  .timeline-box {
    height: 400px;
    padding: 0 30px;
    overflow: auto;
  }
</style>
