<template>
    <div>
      <!--    面包屑导航-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>数据统计</el-breadcrumb-item>
        <el-breadcrumb-item>数据报表</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
        <div id="main" style="width: 800px;height:500px;"></div>
      </el-card>
    </div>
</template>

<script>
// 导入 echarts
import echarts from 'echarts'
// 导入lodash
import _ from 'lodash'
export default {
  name: 'Reports',
  // 此时页面上的元素已被渲染完毕
  async mounted () {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'))
    // 指定图表的配置项和数据
    // var option = {
    //   title: {
    //     text: 'ECharts 入门示例'
    //   },
    //   tooltip: {},
    //   legend: {
    //     data: ['销量']
    //   },
    //   xAxis: {
    //     data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
    //   },
    //   yAxis: {},
    //   series: [
    //     {
    //       name: '销量',
    //       type: 'bar',
    //       data: [5, 20, 36, 10, 10, 20]
    //     }
    //   ]
    // }
    // 使用刚指定的配置项和数据显示图表。
    const { data: res } = await this.$http.get('reports/type/1')
    const result = _.merge(res.data, this.options)
    myChart.setOption(result)
  },
  data () {
    return {
      // 与服务器返回的数据合并的对象数据
      options: {
        title: {
          text: '用户来源'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#E9EEF3'
            }
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [
          {
            boundaryGap: false
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .tree-table {
    width: 100%;
    margin: 20px 0;
  }
</style>
