<template>
  <div>
<!--    面包屑-->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
<!--    表格-->
    <el-card>
      <el-table
      :data="tableData"
      style="width: 100%"
      border stripe>
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="authName" label="权限名称"></el-table-column>
        <el-table-column prop="path" label="路径"></el-table-column>
        <el-table-column prop="level" label="权限等级">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.level==0">一级</el-tag>
            <el-tag v-if="scope.row.level==1" type="success">二级</el-tag>
            <el-tag v-if="scope.row.level==2" type="danger">三级</el-tag>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'Rights',
  created () {
    this.getRightsData()
  },
  data () {
    return {
      tableData: []
    }
  },
  methods: {
    async getRightsData () {
      const { data: res } = await this.$http.get('rights/list')
      console.log(res)
      if (res.meta.status === 200) {
        this.tableData = res.data
      } else {
        this.$message.error(res.meta.msg)
      }
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .el-table {
    margin: 20px 0;
  }
</style>
