<template>
    <div>
      <!--    面包屑-->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>权限列表</el-breadcrumb-item>
      </el-breadcrumb>
      <el-card>
        <el-button type="primary" @click="dialogFormVisible=true">添加角色</el-button>
<!--        表格-->
        <el-table
          :data="tableData"
          style="width: 100%"
          border stripe>
          <el-table-column type="expand">
            <template slot-scope="props">
              <div v-for="item in props.row.children" :key="item.id">
                <el-row class="v-center">
<!--                  一级权限-->
                  <el-col :span="6">
                    <el-tag closable @close="deleteById(props.row, item.id)">{{ item.authName }}</el-tag>
                    <i class="el-icon-caret-right"></i>
                  </el-col>
                  <el-col :span="18">
                    <div v-for="(sub, index) in item.children" :key="sub.id">
                      <el-row class="v-center">
<!--                        二级权限-->
                        <el-col :span="8">
                          <div>
                            <el-tag type="success" closable @close="deleteById(props.row, sub.id)">{{sub.authName}}</el-tag>
                            <i class="el-icon-caret-right"></i>
                          </div>
                        </el-col>
<!--                        三级权限-->
                        <el-col :span="16">
                          <el-tag
                            type="warning"
                            closable
                            @close="deleteById(props.row, next.id)"
                            v-for="next in sub.children"
                            :key="next.id">{{next.authName}}</el-tag>
                        </el-col>
                      </el-row>
                      <el-divider v-if="index!=item.children.length-1"></el-divider>
                    </div>
                  </el-col>
                </el-row>
                <el-divider class="divider"></el-divider>
              </div>
            </template>
          </el-table-column>
          <el-table-column type="index"></el-table-column>
          <el-table-column prop="roleName" label="角色名称"></el-table-column>
          <el-table-column prop="roleDesc" label="角色描述"></el-table-column>
          <el-table-column prop="level" label="操作" width="360px">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" size="small" @click="EditRole(scope.row)">编辑</el-button>
              <el-button type="danger" icon="el-icon-delete" size="small" @click="deleteRole(scope.row)">删除</el-button>
              <el-button type="info" icon="el-icon-setting" size="small" @click="assignmentRights(scope.row)">分配权限</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
<!--          添加用户弹窗-->
      <el-dialog title="添加角色" :visible.sync="dialogFormVisible" @close="clearInput">
        <el-form :model="addForm" :rules="rules" ref="addRolesRef">
          <el-form-item label="角色名" label-width="200px" prop="roleName">
            <el-input
              v-model="addForm.roleName"
              autocomplete="off" placeholder="请输入角色名"></el-input>
          </el-form-item>
          <el-form-item label="角色描述" label-width="200px" prop="roleDesc">
            <el-input
              v-model="addForm.roleDesc"
              autocomplete="off" placeholder="请输入角色描述"></el-input>
          </el-form-item>
          <el-form-item class="btn">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addFormClick('addRolesRef')">确 定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
      <!--    编辑角色弹窗-->
      <el-dialog title="编辑角色信息" :visible.sync="dialogEditFormVisible" @close="clearEditInput">
        <el-form :model="editForm" :rules="rules" ref="editRolesRef">
          <el-form-item label="角色名" label-width="200px" prop="roleName">
            <el-input
              v-model="editForm.roleName"
              autocomplete="off" placeholder="请输入角色名"></el-input>
          </el-form-item>
          <el-form-item label="角色描述" label-width="200px" prop="roleDesc">
            <el-input
              v-model="editForm.roleDesc"
              autocomplete="off" placeholder="请输入角色描述"></el-input>
          </el-form-item>
          <el-form-item class="btn">
            <el-button @click="dialogEditFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitFormClick('editRolesRef')">提 交</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
<!--      分配角色权限弹窗-->
      <el-dialog title="分配权限" class="assignment-dialog" :visible.sync="dialogAssignmentVisible" @close="clearTree">
        <div class="checkbox-box">
          <el-tree
            :data="treeRightsData"
            show-checkbox
            node-key="id"
            :default-expanded-keys="defaultExpandedKeys"
            :default-checked-keys="defaultCheckedKeys"
            @check="checkChange"
            ref="tree"
            highlight-current
            :props="defaultProps">
          </el-tree>
        </div>
        <div class="btn">
          <el-button @click="dialogAssignmentVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitAssignment">提 交</el-button>
        </div>
      </el-dialog>
    </div>
</template>

<script>
export default {
  name: 'Roles',
  created () {
    this.getRolesData()
  },
  data () {
    return {
      tableData: [],
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      dialogAssignmentVisible: false,
      addForm: { roleName: '', roleDesc: '' },
      editForm: { id: 0, roleName: '', roleDesc: '' },
      rules: {
        roleName: [
          { required: true, message: '请输入角色名', trigger: 'blur' }
        ]
      },
      treeRightsData: [],
      defaultProps: {
        children: 'children',
        label: 'authName'
      },
      defaultExpandedKeys: [],
      defaultCheckedKeys: [],
      rolesId: 0,
      ridsString: ''
    }
  },
  methods: {
    // 获取所有角色
    async getRolesData () {
      const { data: res } = await this.$http.get('roles')
      if (res.meta.status === 200) {
        this.tableData = res.data
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 获取所有权限（树形）
    async getTreeRight () {
      const { data: res } = await this.$http.get('rights/tree')
      if (res.meta.status === 200) {
        this.treeRightsData = res.data
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 分配权限
    assignmentRights (rolesInfo) {
      this.getTreeRight()
      rolesInfo.children.forEach(item => {
        this.defaultExpandedKeys.push(item.id)
        item.children.forEach(subItem => {
          this.defaultExpandedKeys.push(subItem.id)
          subItem.children.forEach(checkedItem => {
            this.defaultCheckedKeys.push(checkedItem.id)
          })
        })
      })
      this.dialogAssignmentVisible = true
      this.rolesId = rolesInfo.id
    },
    // 勾选，复选框点击触发. this.$refs.tree.getCheckedKeys(): 获取所有被选中的节点
    checkChange () {
      // 权限id数组转化为逗号分隔的字符串
      this.ridsString = this.$refs.tree.getCheckedKeys().join()
    },
    // 提交分配权限
    async submitAssignment () {
      const { data: res } = await this.$http.post('roles/' + this.rolesId + '/rights',
        { rids: this.ridsString })
      if (res.meta.status === 200) {
        this.getRolesData()
        this.$message.success(res.meta.msg)
        this.dialogAssignmentVisible = false
        this.ridsString = ''
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 关闭重置
    clearTree () {
      this.defaultExpandedKeys = []
      this.defaultCheckedKeys = []
    },
    // 添加角色
    addFormClick (rolesName) {
      this.$refs[rolesName].validate(async (valid) => {
        if (valid) {
          const { data: res } = await this.$http.post('roles', this.addForm)
          console.log(res)
          if (res.meta.status === 201) {
            this.getRolesData()
            this.$message.success(res.meta.msg)
            this.dialogFormVisible = false
          } else {
            this.$message.error(res.meta.msg)
          }
        }
      })
    },
    // 关闭对话框重置表单
    clearInput () {
      this.$refs.addRolesRef.resetFields()
    },
    clearEditInput () {
      this.$refs.editRolesRef.resetFields()
    },
    // 编辑角色
    EditRole (roleInfo) {
      this.dialogEditFormVisible = true
      this.editForm = {
        id: roleInfo.id,
        roleName: roleInfo.roleName,
        roleDesc: roleInfo.roleDesc
      }
    },
    // 编辑确认提交
    submitFormClick (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          const { data: res } = await this.$http.put('roles/' + this.editForm.id, this.editForm)
          if (res.meta.status === 200) {
            // 没有重新调用 getRolesData 方法请求服务器
            this.tableData.forEach((item, index) => {
              if (item.id === this.editForm.id) {
                this.tableData.splice(index, 1, res.data)
              }
            })
            this.dialogEditFormVisible = false
            this.$message.success('编辑成功')
          } else {
            this.$message.error(res.meta.msg)
            this.dialogEditFormVisible = false
          }
        }
      })
    },
    // 删除角色
    deleteRole (rolesInfo) {
      this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('roles/' + rolesInfo.id)
        if (res.meta.status === 200) {
          this.getRolesData()
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 关闭标签 roles.id:角色id  rightId:权限id
    deleteById (roles, rightId) {
      this.$confirm('此操作将永久删除该权限, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('roles/' + roles.id + '/rights/' + rightId)
        if (res.meta.status === 200) {
          // 不调用getRolesData，防止页面重新加载，展开行折叠
          roles.children = res.data
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    }
  }
}
</script>

<style scoped>
  .el-card {
    margin-top: 20px;
    border: 0;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }
  .el-table {
    margin-top: 20px;
  }
  .el-dialog .el-input {
    width: 60%;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
  }
  .el-col {
    text-align: center;
  }
  .el-col:last-child {
    text-align: left;
  }
  .el-tag {
    margin: 10px 4px;
  }
  .el-divider {
    width: 80%;
    margin: 0 auto;
  }
  .divider {
    width: 85%;
  }
  .v-center {
    display: flex;
    align-items: center;
  }
  .checkbox-box {
    height: 360px;
    overflow: auto;
  }
  .el-checkbox-group {
    display: flex;
    flex-direction: column;
    margin-left: 43%
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
</style>
