<template>
  <div>
<!--    面包屑导航-->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
<!--    卡片-->
    <el-card>
<!--      顶部搜索-->
      <el-row :gutter="10">
        <el-col :span="6">
          <el-input
            placeholder="请输入用户名"
            size="small"
            v-model="pageData.query" clearable @clear="getUsersData" @keydown.enter.native="getUsersData">
            <el-button slot="append" icon="el-icon-search" @click="getUsersData"></el-button>
          </el-input>
        </el-col>
        <el-col :span="4"><el-button type="primary" size="small" @click="addUser">添加用户</el-button></el-col>
      </el-row>
<!--      表格-->
      <el-table
        :data="tableData"
        style="width: 100%"
        border stripe>
        <el-table-column type="index"></el-table-column>
        <el-table-column prop="username" label="用户名"></el-table-column>
        <el-table-column prop="email" label="邮箱"></el-table-column>
        <el-table-column prop="mobile" label="电话"></el-table-column>
        <el-table-column prop="role_name" label="角色"></el-table-column>
        <el-table-column prop="mg_state" label="状态">
<!--          作用域插槽-->
          <template slot-scope="scope">
            <el-switch v-model="scope.row.mg_state" @change="changeState(scope.row)"></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="180px">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" size="small" @click="editUser(scope.row)"></el-button>
              <el-button type="danger" icon="el-icon-delete" size="small" @click="deleteUser(scope.row)"></el-button>
              <el-tooltip content="分配角色" placement="top" :enterable="enterable">
                <el-button type="info" icon="el-icon-setting" size="small" @click="rolesClick(scope.row)"></el-button>
              </el-tooltip>
            </template>
        </el-table-column>
      </el-table>
<!--      分页-->
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-sizes="[3, 5, 10,]"
        :page-size="3"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </el-card>
<!--    添加用户弹窗-->
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible" @close="clearInput">
      <el-form :model="addForm" :rules="rules" ref="addUserRef">
        <el-form-item label="用户名" label-width="200px" prop="username">
          <el-input
            v-model="addForm.username"
            autocomplete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item label="密码" label-width="200px" prop="password">
          <el-input
            v-model="addForm.password"
            autocomplete="off" placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" label-width="200px" prop="email">
          <el-input
            v-model="addForm.email"
            autocomplete="off" placeholder="请输入邮箱"></el-input>
        </el-form-item>
        <el-form-item label="电话" label-width="200px" prop="mobile">
          <el-input
            v-model="addForm.mobile"
            autocomplete="off" placeholder="请输入电话"></el-input>
        </el-form-item>
        <el-form-item class="btn">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="addFormClick('addUserRef')">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
<!--    编辑用户弹窗-->
    <el-dialog title="编辑用户信息" :visible.sync="dialogEditFormVisible" @close="clearEditInput">
      <el-form :model="editForm" :rules="rules" ref="editUserRef">
        <el-form-item label="用户名" label-width="200px">
          <el-input
            v-model="editForm.username"
            disabled
            autocomplete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" label-width="200px" prop="email">
          <el-input
            v-model="editForm.email"
            autocomplete="off" placeholder="请输入邮箱"></el-input>
        </el-form-item>
        <el-form-item label="电话" label-width="200px" prop="mobile">
          <el-input
            v-model="editForm.mobile"
            autocomplete="off" placeholder="请输入电话"></el-input>
        </el-form-item>
        <el-form-item class="btn">
          <el-button @click="dialogEditFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitFormClick('editUserRef')">提 交</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
<!--    分配角色弹窗-->
    <el-dialog title="分配角色" :visible.sync="dialogRolesVisible" @close="clearSelect">
      <div>
        <div class="content-headr">
          <span>当前分配用户名：<el-tag>{{userInfo.username}}</el-tag></span>
          <span>当前分配用户角色：<el-tag>{{userInfo.role_name}}</el-tag></span>
        </div>
        <el-divider></el-divider>
        <div class="select-box">
          <label>分配角色：</label>
          <el-select v-model="rolesId" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.roleName"
              :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="btn">
          <el-button @click="dialogRolesVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitSelectClick">提 交</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Users',
  created () {
    this.getUsersData()
  },
  data () {
    return {
      enterable: false,
      tableData: [],
      pageData: { query: '', pagenum: 1, pagesize: 3 },
      total: 0,
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      dialogRolesVisible: false,
      addForm: { username: '', password: '', email: '', mobile: '' },
      editForm: { id: 0, username: '', password: '', email: '', mobile: '' },
      rules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { min: 6, max: 12, message: '长度在 6 到 12 个字符', trigger: 'blur' }
        ],
        email: [],
        mobile: []
      },
      // 当前分配角色用户信息
      userInfo: [],
      options: [],
      rolesId: ''
    }
  },
  methods: {
    // 请求数据
    async getUsersData () {
      // eslint-disable-next-line no-unused-vars
      const { data: res } = await this.$http.get('users', { params: this.pageData })
      this.tableData = res.data.users
      this.total = res.data.total
    },
    // 每页个数
    handleSizeChange (val) {
      this.pageData.pagesize = val
      this.getUsersData()
    },
    // 当前页数
    handleCurrentChange (val) {
      this.pageData.pagenum = val
      this.getUsersData()
    },
    // 添加用户
    addUser () {
      this.dialogFormVisible = true
    },
    // 添加用户
    addFormClick (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$message.success('添加成功')
          this.$http.post('users', this.addForm)
          this.dialogFormVisible = false
          this.getUsersData()
        } else {
          return false
        }
      })
    },
    // 关闭添加弹窗重置输入框
    clearInput () {
      this.$refs.addUserRef.resetFields()
    },
    // 状态设置
    async changeState (switchState) {
      // eslint-disable-next-line no-unused-vars
      const { data: res } = await this.$http.put('users/' + switchState.id + '/state/' + switchState.mg_state)
      if (res.meta.status === 200) {
        this.$message.success('设置状态成功')
      } else {
        this.$message.error('设置失败')
        switchState.mg_state = !switchState.mg_state
      }
    },
    // 编辑用户信息
    editUser (userInfo) {
      console.log(userInfo)
      this.dialogEditFormVisible = true
      this.editForm = {
        id: userInfo.id,
        username: userInfo.username,
        email: userInfo.email,
        mobile: userInfo.mobile
      }
    },
    // 编辑后提交
    submitFormClick (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$message.success('编辑成功')
          this.$http.put('users/' + this.editForm.id, { email: this.editForm.email, mobile: this.editForm.mobile })
          this.dialogEditFormVisible = false
          this.getUsersData()
        } else {
          return false
        }
      })
    },
    // 重置
    clearEditInput () {
      this.$refs.editUserRef.resetFields()
    },
    // 删除用户
    deleteUser (userInfo) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async () => {
        const { data: res } = await this.$http.delete('users/' + userInfo.id)
        if (res.meta.status === 200) {
          // 判断是否删除本页唯一一个数据，debug，请求的上一页的数据
          if (this.total % this.pageData.pagesize === 1) {
            this.pageData.pagenum--
          }
          this.getUsersData()
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        } else {
          this.$message.warning(res.meta.msg)
        }
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    // 分配角色
    async rolesClick (rolesInfo) {
      console.log(rolesInfo)
      this.userInfo = rolesInfo
      this.dialogRolesVisible = true
      // 获取所有角色数据
      const { data: res } = await this.$http.get('roles')
      this.options = res.data
    },
    async submitSelectClick () {
      console.log(this.rolesId)
      console.log(this.userInfo)
      const { data: res } = await this.$http.put('users/' + this.userInfo.id + '/role',
        { rid: this.rolesId })
      if (res.meta.status === 200) {
        this.getUsersData()
        this.$message.success(res.meta.msg)
        this.dialogRolesVisible = false
      } else {
        this.$message.error(res.meta.msg)
      }
    },
    // 关闭弹窗重置
    clearSelect () {
      this.rolesId = ''
    }
  }
}
</script>

<style scoped>
.el-card {
  margin-top: 20px;
  border: 0;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
  .el-table {
    margin: 20px 0;
  }
  .el-dialog .el-input {
    width: 60%;
  }
.btn {
  display: flex;
  justify-content: flex-end;
}
  .content-headr {
    display: flex;
    justify-content: space-evenly;
    color: #666;
    font-size: 16px;
  }
  .el-divider {
    width: 80%;
    margin: 36px auto;
  }
  .select-box {
    text-align: center;
    margin-bottom: 150px;
  }
</style>
