<template>
  <div>欢 迎 使 用 本 系 统</div>
</template>

<script>
</script>

<style scoped>
  div {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    font-size: 36px;
    text-align: center;
    margin: 50px auto;
  }
</style>
